.header-top {
  padding: 3vh;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  .row {
    justify-content: space-between;
    align-items: center;
    .col-4 {
      .links {
        display: flex;
        gap: 20px;
        a {
          transition: all 0.3s ease-in-out;
          color: #000;
          font-size: 1.3rem;
          &:hover {
            color: #ff9900;
          }
        }
      }
      .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        p {
          font-size: 1.5rem;
          span {
            opacity: 0.3;
            margin-inline: 10px;
            font-size: 1.5rem;
          }
        }
        a {
          color: #808080;
        }
      }
    }
  }
}
