.header-bottom {
  padding: 4vh;
  background: #fff;
  display: flex;
  flex-direction: row;
  .row {
    justify-content: space-between;
    .col-6 {
      display: flex;
      align-items: center;
      &:first-child {
        gap: 5vw;
      }
    }
    .col-6:last-child {
      display: flex;
      gap: 38px;
    }
  }
  .search-bar {
    display: inline-block;
    position: relative;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 0px 10px 0px #0000000d inset;
    background-color: transparent;
    width: 44vw;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    will-change: contents;
    &:hover {
      transform: scale(1.005);
      box-shadow: 0px 0px 30px 0px #0000000f inset;
    }
    input {
      width: 95%;
      outline: none;
      border-radius: 30px;
      padding: 15px;
      padding-inline: 30px;
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      &::-webkit-search-cancel-button {
        appearance: none;
      }
    }
  }
}
