.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;
    font-family: "Gotham Pro";
    text-align: center;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #FF8A1E;
    border-color: #FF8A1E transparent #FF8A1E transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(700deg);
    }
  }
  