.catalog {
  .categories_title {
    margin-bottom: 10px;
  }
  .search_result {
    margin-bottom: 20px;
  }
  .active_cat {
    button {
      color: #ff9900 !important;
      transform: scale(1.06);
    }
  }
  .row {
    gap: 2%;
    flex-wrap: wrap;
    .col-4 {
      width: 32%;
      margin-bottom: 20px;
    }
  }
  .category_select {
    margin-bottom: 20px;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    button {
      padding: 10px 20px;
      border-radius: 15px;
      border: none;
      box-shadow: 0px 0px 5px 0px #0000001a inset;
      background: #ffffff;
      color: #7d7d7d;
      font-weight: 500;
      margin-bottom: 10px;
      transition: all 0.5s;
      will-change: contents;
      outline: none;
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        color: #ff9900;
        transform: scale(1.1);
      }
    }
  }
  h1 {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: "Jost";
    span {
      color: red;
    }
    a {
      margin-left: 10px;
      font-size: 1rem;
      color: #000;
      font-weight: 400;
      svg {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .catalog {
    .row {
      justify-content: space-between;
      .col-4 {
        margin-bottom: 20px;
        width: 49%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .catalog {
    .row {
      justify-content: center;
      .col-4 {
        width: 98%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .catalog {
    h2 {
      font-size: 1.5rem;
    }
    .row {
      .col-4 {
        h4 {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .catalog {
    h2 {
      font-size: 1.4rem;
      a {
        font-size: 0.8rem;
      }
    }
  }
}
