.discounts {
  .row {
    justify-content: space-between;
    .col-4 {
      width: 24%;
    }
  }

  h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    font-family: "Jost";
    span {
      color: red;
    }
    a {
      margin-left: 10px;
      font-size: 1rem;
      color: #000;
      font-weight: 400;
      svg {
        vertical-align: middle;
      }
    }
  }
}

.discount-card {
  cursor: pointer;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  will-change: contents;
  .row {
    flex-direction: column;

    h4 {
      text-transform: uppercase;
      font-weight: 400;
      line-height: 30px;
    }

    p {
      width: 100%;
      height: 45px;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: linear-gradient(180deg, transparent, #fff 90%);
      }
    }

    small {
      text-decoration: line-through;
      opacity: 0.7;
      font-weight: 400;
    }

    b {
      font-size: 1.6rem;
      line-height: 50px;
    }

    img {
      width: 100%;
    }

    .percent {
      line-height: 30px;
      color: #f00;
      font-weight: 700;
    }
  }

  
}

