.header-top {
  padding: 3vh;
  background: #f8f8f8;
  display: flex;
  top: -200px;
  transition: all 0.3s;
  z-index: 999;
  align-items: center;
  .active_nav {
    &::after {
      content: "";
      width: 100% !important;
      height: 2px;
      display: block;
      background-color: #ff9900;
    }
  }
  .row {
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      gap: 20px;
      a {
        transition: all 0.2s ease-in-out;
        color: #000;
        font-size: 1.3rem;
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          display: block;
        transition: all 0.2s ease-in-out;
        background-color: #ff9900;
        }
        &:hover {
          color: #ff9900;
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: #ff9900;
          }
        }
      }
    }
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 10px;
      p {
        font-size: 1.5rem;
        span {
          opacity: 0.3;
          margin-inline: 10px;
          font-size: 1.5rem;
        }
      }
      a {
        color: #808080;
      }
    }
  }
}

.header-top.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  transform: translateY(0);
}

@media screen and (max-width: 1082px) {
  .header-top {
    .row {
      .links {
        a {
          font-size: 1rem;
        }
      }
      .contacts {
        gap: 5px;
        p,
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header-top {
    .row {
      .links {
        a {
          font-size: 2vw;
        }
      }
      .contacts {
        gap: 0px;
        p,
        a {
          font-size: 2vw;
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .header-top {
    padding: 10px 20px;
    .row {
      .links {
        display: none;
      }
      .contacts {
        display: none;
      }
    }
  }
}
